ANTHROPIC_API_KEY=
EMBEDDING_DIM=
EMBEDDING_MODEL=
FALLBACK_LLM_MODEL=
GITHUB_REPO=
GITHUB_TOKEN=
GEMINI_API_KEY=
GOOGLE_API_KEY=
GROQ_API_KEY=
LANGCHAIN_API_KEY=
LANGCHAIN_PROJECT=
LANGCHAIN_TRACING_V2=
OPENAI_API_KEY=
POSTGRES_URL=
PRIMARY_LLM_MODEL=
QDRANT_API_KEY=
QDRANT_COLLECTION=
QDRANT_URL=